/api/vendor
/api/public/proofs
/api/.htaccess
/api/.env
/api/composer.lock

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/dash/node_modules
/dash/.pnp
/dash/.pnp.js
/dash/asset-manifest.json
/dash/index.html
/dash/manifest.json
/dash/robots.txt
/dash/static
/dash/package-lock.json

.vscode
.vscode*

# misc
/dash/.htaccess
/dash/.DS_Store
/dash/.env.local
/dash/.env.development.local
/dash/.env.test.local
/dash/.env.production.local
/dash/.eslintcache

/dash/npm-debug.log*
/dash/yarn-debug.log*
/dash/yarn-error.log*
/dash/.env
/dash/build
